@font-face {
  font-family: "PT Sans";
  src: local("PT Sans Bold"),
       url("../fonts/PTSans-Bold.woff2") format("woff2"),
       url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"),
       url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-text-color: #333333; /* основной текст */
  --basic-bg: #f2f2f2; /* фон сайта и input в состоянии покоя - --basic-bg */
  --page-shadow: rgba(0, 1, 1, 0.2); /*тень от сайт на body*/
  --list-bg: #eeeeee; /* фон списка преимуществ Седоны */
  --hero-bg: #E2F0F9;  /* фоновый цвет для welcome-блок главной страницы*/
  --input-hover: #ebebeb; /* фон и границы input при наведении), трудно отличим от #E5E5E5 - граница  */
  --input-focus: #e5e5e5; /* применяется только для границ, фон белый */
  --dir-arrow: #cacaca; /* значок сортировки вниз-вверх в покое*/
  --text-active-light: rgba(250, 250, 250, 0.3); /* текст кнопок, ссылок при нажатии*/
  --text-active-grey: rgba(0, 0, 0, 0.3); /* текст кнопок, ссылок при нажатии*/
  --checkbox-disabled: #6a6a6a;
  --rating-text: #666666;

  --light-blue: #81b3d2;
  --medium-blue: #669ec0;
  --dark-blue: #5496bd;

  --light-brown: #766357;
  --medium-brown: #604e43;
  --dark-brown: #503e33;

  --partner-logo: #231F20; /*цвет лого академии в покое*/
  --partner-logo-active: #bdbbbc; /* цвет лого HTML Академии при нажатии + #231F20 цвет лого Академии в покое - в svg*/
}

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main header */

.main-header {
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--page-shadow);
}

/* .navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
} */

.navigation-link {
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--light-blue);
}

.navigation-link:active {
  color: var(--text-active-grey);
}

.navigation-link-current {
  color: var(--light-brown);
}

/* Welcome section*/
.main-content {
  box-shadow: 0px 5px 15px var(--page-shadow);
}

.hero {
  height: 300px; /*временный параметр для проверки  фона*/
  background-color: var(--hero-bg);
  background: url("../img/background-index.jpg") center/cover no-repeat;
}

.heading {
  font-size: 21px;
  line-height: 26px;
}

.text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-text-color);
}

/* .advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
} */

.advantages-item {
  background-color: var(--list-bg);
  color: var(--basic-text-color);
}

.advantages-item-accent {
  color: var(--basic-white);
  background-color: var(--light-blue);
}

.advantages-title {
  font-size: 21px;
  color: var(--basic-black);
}

.advantages-item-accent .advantages-title {
  color: inherit;
}

.advantages-text {
  font-weight: 400;
  color: inherit;
}

.advantages-item-accent img {
  width: 800px;
  height: 256px;
}

.city-features-list {
  color: var(--basic-text-color);
  background-color: var(--basic-white);
}

.features-item {
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.features-item-house {
  background-image: url("../img/icons/house.svg");
}

.features-item-food {
  background-image: url("../img/icons/burger.svg");
}

.features-item-present {
  background-image: url("../img/icons/present.svg");
}

.features-title {
  font-size: 21px;
  color: var(--basic-black);
}

.hotel-search-section {
  background-color: var(--basic-white);
}

.hotel-search-slogan {
  font-size: 30px;
  line-height: 24px; 
}

/* Buttons*/ 

.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button:active {
  color: var(--text-active-light);
}

.button:focus {
  outline: none;
}

.button-brown {
  background-color: var(--light-brown);
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--medium-brown);
}

.button-brown:active {
  background-color: var(--dark-brown);
}

.button-blue {
  background-color: var(--light-blue);
}

.button-blue {
  background-color: var(--light-blue);
}

.button-blue:hover,
.button-blue:focus {
  background-color: var(--medium-blue);
}

.button-blue:active {
  background-color: var(--dark-blue);
}

/* Hotel search form*/

.hotel-search-input {
  font: inherit;
  background-color: var(--basic-bg);
  border: 2px solid var(--basic-bg);
}

.hotel-search-input::placeholder {
  color: var(--basic-black);
  text-transform: uppercase;
}

.hotel-search-input:hover {
  background-color: var(--input-hover);
  border: 2px solid var(--input-hover);
}

.hotel-search-input:focus {
  background-color: var(--basic-bg);
  border: 2px solid var(--input-focus);
  outline: none;
}

.calendar-button {
  background-image: url("../img/icons/calendar.svg");
}

.form-submit-button {
  background-color: var(--light-blue);
}

.form-submit-button:hover,
.form-submit-button:focus {
  background-color: var(--medium-blue);
}

.form-submit-button:active {
  background-color: var(--dark-blue);
}

/* Hotel Filters */

.filters-section {
  color: var(--basic-white);
  background-color: var(--light-blue);
  background-image: url("../img/background-catalog.jpg");
  background-size: cover;
}

.filters-legend {
  font-size: 16px;
  text-align: left;
}

.filters-list {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.filters-label {
  font-weight: 400;
}

/* ??
 .filters-checkbox:disabled + .filters-label {
  color: var(--checkbox-disabled)
} */

.filters-input {
  color: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-white); /* убрать? и общий border для двух полей*/
} 

.filters-input::placeholder {
  color: var(--basic-white);
  text-transform: uppercase;
}

.filters-submit-button {
  color: var(--basic-whiter);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.filters-submit-button:hover,
.filters-submit-button:focus,
.filters-submit-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Hotels sorting */

.sorting-section {
  text-align: left;
}

.sorting-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-list {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
}

.sorting-link {
  color: var(--text-active-grey);
}

.sorting-link-selected {
  color: var(--light-blue);
}

.sorting-link:hover,
.sorting-link:focus {
  color: var(--light-blue);
  border-bottom: 1px dashed var(--light-blue);
}

.sorting-link:active {
  color: var(--basic-black);
  border-bottom: none;
}

/* Hotel Results*/

.result-section {
  text-align: left;
}

.result-list {
  list-style: none;
}

.result-title {
  font-size: 21px;
  line-height: 26px;
}

.result-title:hover,
.result-title:focus {
  color: var(--light-blue);
}

.result-title:active {
  color: var(--text-active-grey);
}

.result-list img {
  width: 135px;
  height: 90px;
}

.result-text {
  font-weight: 400;
}

/* .result-link {

}

.result-button {

} */

.result-rating {
  font-weight: 400;
  text-align: center;
  color: var(--rating-text);
}

/* Footer */

.main-footer {
  box-shadow: 0px 5px 15px var(--page-shadow);
}

.contacts-text {
  font-size: 21px;
  line-height: 26px;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--light-blue);
}

.tel-link:active {
  color: var(--text-active-grey);
}

.socials-link {
  background-color: var(--light-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.socials-link svg {
  fill: var(--basic-white);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--medium-blue);
}

.socials-link:active {
  background-color: var(--dark-blue);
}

.socials-link:active svg {
  fill-opacity: 0.3;
}

.partner-logo {
  fill: var(--partner-logo);
}

.partner-logo:hover,
.partner-logo:focus {
  fill: var(--light-blue);
}

.partner-logo:active {
  fill: var(--partner-logo-active);
}